# Part 3B-I
## Normalizing Genres

![png](Data/movies-erd.png)

In [1]:
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()

import pandas as pd
import os,json

In [2]:
with open('.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{(login['password'])}@localhost/movies"
engine = create_engine(connection)
conn = engine.connect()

In [4]:
# run query to show all tables
q = """
    SHOW TABLES;
    """
pd.read_sql(q, conn)

          Tables_in_movies
0                   genres
1                  ratings
2             title_basics
3  title_basics_has_genres
4                tmdb_data

In [5]:
# use DESCRIBE table command to display genres column details

q = """
    DESCRIBE ratings;
    """
describe = pd.read_sql(q, conn)

describe

                 Field         Type Null  Key Default Extra
0               tconst  varchar(10)   NO  PRI    None
1       average_rating        float  YES         None
2      number_of_votes          int  YES         None
3  title_basics_tconst  varchar(10)  YES         None

In [6]:
# Changing the setting for FOREIGN_KEY_CHECKS with the connection

# q = """SET @@FOREIGN_KEY_CHECKS=0"""
# conn.execute(q)

In [7]:
# import tables from CSV files
title_basics = pd.read_csv('Data/basics.csv')

In [8]:
# drop "Unnamed: 0" column
title_basics = title_basics.drop("Unnamed: 0", axis=1)

## Get a list of all of the unique genres that appear in the column

In [9]:
# create 'genres_split' column with genres as list of strings
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
86974,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
86975,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
86976,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [10]:
# use .explode() to separate list of genres into new rows: one row for each genre a movie belonged to
exploded_genres = title_basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [11]:
# use unique() to get the unique genres from the 'genres_split' column
# sort alphabetically

unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

## Create a new title_genres table

In [12]:
# create a new title_genres from the exploded df
title_genres = exploded_genres[['tconst','genres_split']].copy()

# preview data
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

### Create a genre mapper dictionary to replace string genres with integers

In [13]:
# make gene mapper dictionary with genre strings as keys and genre ids as values

genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))

In [14]:
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

## Replace the string genres in title_genres with the new integer ids

In [15]:
# make genre_id column and drop genres_split
title_basics['genre_id'] = title_basics['genres_split'].replace(genre_map)
title_basics = title_basics.drop(columns='genres_split')

In [16]:
# verify changes
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
86974,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
86975,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
86976,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

## Convert the genre map dictionary into a dataframe

In [17]:
# manually make dataframe with cols from .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(), 'Genre_ID':genre_map.values()})

In [18]:
# verify df
genre_lookup

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Sport        20
21   Talk-Show        21
22    Thriller        22
23         War        23
24     Western        24

# Part 3B-II
## Create MySQL Tables

### Use tconst as primary key

In [19]:
# check dtypes
genre_lookup.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [20]:
# find max string length
max_str_len = genre_lookup['Genre_Name'].fillna('').map(len).max()
max_str_len

10

In [21]:
with open('.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [22]:
# provide sql datatype schema of columns to create table 
from sqlalchemy.types import *

genre_schema = {
    "Genre_Name":VARCHAR(11),
    "Genre_ID": INTEGER()}

In [23]:
# save to sql with dtypes and index=False
genre_lookup.to_sql('genres', conn, dtype=genre_schema, index=False, if_exists='replace')

25

In [49]:
# create tmdb_data table
tmdb_data = pd.read_csv('final_tmdb_data.csv')
tmdb_data = tmdb_data.drop(['Unnamed: 0'], axis=1)

tmdb_data

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.327,1233.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.405,132.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2641,tt6449044,0.0,/a9pkw8stijESGx1flSGPqcXLkHu.jpg,"{'id': 957260, 'name': 'The Conman Collection'...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,314105.0,cn,賭俠2002,...,0.0,97.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,The Conman 2002,0.0,4.300,3.0,NaN
2642,tt6694126,0.0,/sXjVpTZyDvwzPVZve3AmyCUBeHk.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,819174.0,fa,عروس خوش‌قدم,...,0.0,101.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Lucky Bride,0.0,8.000,1.0,NaN
2643,tt8302928,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,866533.0,el,Movie Toons: Treasure Island,...,0.0,0.0,[],Released,NaN,Movie Toons: Treasure Island,0.0,0.000,0.0,NaN
2644,tt8474326,0.0,NaN,NaN,0.0,[],NaN,292027.0,en,Skin Eating Jungle Vampires,...,0.0,0.0,[],Released,NaN,Skin Eating Jungle Vampires,0.0,0.000,0.0,NaN
2645,tt8825252,0.0,NaN,NaN,0.0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,989195.0,en,Circle of Fire: The Dark Lord Kylnor,...,0.0,45.0,[],Released,NaN,Circle of Fire: The Dark Lord Kylnor,0.0,0.000,0.0,NaN

In [40]:
## Calculate max string lengths for object columns
key_len = tmdb_data['imdb_id'].fillna('').map(len).max()
cert_len = tmdb_data['certification'].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
tmdb_data_schema = {
    "imdb_id": CHAR(key_len+1), 
    "budget": FLOAT(),
    "revenue": FLOAT(),
    'certification':CHAR(key_len+1)}

In [41]:
# save to sql with dtypes and index=False
tmdb_data.to_sql('tmdb_data',conn,dtype=tmdb_data_schema, if_exists='replace',index=False)

2645

In [42]:
# use sqlalchemy engine to update table and set desired column as primary key
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [43]:
title_genres_schema ={
    'tconst': VARCHAR(11),
    'genre_id' : INTEGER()}

In [44]:
title_genres.to_sql('title_basics_has_genres', conn, dtype=title_genres_schema, index=False, if_exists='replace')

162600

In [45]:
q = """
    SHOW TABLES;
    """
pd.read_sql(q, conn)

          Tables_in_movies
0                   genres
1                  ratings
2             title_basics
3  title_basics_has_genres
4                tmdb_data

In [51]:
q = """
    DESCRIBE genres;
    """
pd.read_sql(q, conn)

        Field         Type Null Key Default Extra
0  Genre_Name  varchar(11)  YES        None
1    Genre_ID          int  YES        None

In [46]:
q = """
    SELECT * FROM genres
    LIMIT 5
    """
pd.read_sql(q, conn)

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [47]:
q = """SELECT * FROM title_basics_has_genres
LIMIT 5
"""""
pd.read_sql(q, conn)

      tconst genres_split
0  tt0035423       Comedy
1  tt0035423      Fantasy
2  tt0035423      Romance
3  tt0062336        Drama
4  tt0069049        Drama

In [52]:
q = """
    DESCRIBE title_basics_has_genres;
    """
pd.read_sql(q, conn)

          Field         Type Null Key Default Extra
0        tconst  varchar(11)  YES        None
1  genres_split         text  YES        None

In [50]:
q = """
    SELECT * FROM tmdb_data
    LIMIT 5
    """
pd.read_sql(q, conn)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,None,None,NaN,None,None,NaN,None,None,...,NaN,NaN,None,None,None,None,NaN,NaN,NaN,None
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,None,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",None,11232.0,en,Kate & Leopold,...,76019000.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.327,1233.0,PG-13
2,tt0096056,0.0,/95U3MUDXu4xSCmVLtWgargRipDi.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",None,109809.0,en,Crime and Punishment,...,0.0,126.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,None,Crime and Punishment,0.0,5.333,12.0,None
3,tt0114447,0.0,None,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",None,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,None
4,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,None,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",None,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,None,The Dark Mist,0.0,3.500,2.0,PG